// $font-stack: Helvetica, sans-serif;



$c-p: var(--color-primary);
$c-s: var(--color-second);
$c-f-p: var(--color-font-primary);
$c-f-s: var(--color-font-second);
$c-f-black: var(--c-f-black);

 
$f-en: var(--f-en);
$f-ar: var(--f-ar);