@import '_variables';

.PaymentPackages {
    margin-top: 100px;


    .sectionsHeader {
        position: relative;

        &::before {
            content: "";
            background: url(/images/wave/PaymentPackages1.png) no-repeat;
            width: 228px;
            height: 199px;
            position: absolute;
            background-size: 100% 100%;
            right: 0px;
            top: -20px;
            transform: rotateY(180deg);
        }

        &:lang(ar) {
            &::before {
                right: auto;
                left: 0px;
                transform: rotateY(0deg);
            }
        }
    }

    .typePrice {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        font-size: 18px;

        button {
            height: 40px;
            width: 81px;
            background: $c-p;
            border-radius: 60px;
            margin: 0px 10px;
        }

        .Monthlyƒ,
        .years {
            display: flex;
            align-items: center;
            font-weight: 400;
            color: $c-f-p;
            padding: 0px 14px;
        }

        .ant-switch-checked {
            .ant-switch-handle {
                margin: 2px -17px;
            }
        }

        .ant-switch-handle {
            margin: 2px 4px;
            padding: 16px;
            border-radius: 50%;
        }

        .ant-switch-handle::before {
            border-radius: 50%;
        }
    }

    .content {
        margin: auto;
        max-width: 960px;
        margin-top: 100px;

    }

    .PackagesItem {
        padding: 20px;
        border-radius: 12px;
        border: 2px solid #E0E0E0;
        margin-bottom: 30px;
        transition: 3s;

        &:hover {
            transform: scale(1.04);
        }

        .Pheader {
            text-align: center;
            border-bottom: 1px solid rgba(52, 73, 94, 0.2);
            margin-bottom: 20px;
            margin-top: 10px;
            padding-bottom: 5px;

            .note {
                position: absolute;
                top: 17px;
                background: $c-s;
                padding: 2px 11px;
                color: #fff;
                border-radius: 3px;
                display: none;
            }

            .title {
                font-size: 17px;
            }

            .price {
                font-weight: 600;
                font-size: 48px;
                line-height: 64px;
                color: $c-f-p;
                margin-top: 4px;
            }
        }

        .Pcontent {
            padding-right: 20px;

            ul {
                li {
                    position: relative;
                    padding-right: 25px;
                    margin-top: 12px;
                    align-items: center;
                    display: flex;
                    font-weight: 400;
                    font-size: 16px;

                    &::before {
                        content: "";
                        -webkit-mask-image: url(/icons/right.svg);
                        mask-image: url(/icons/right.svg);
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        mask-size: 100% 100%;
                        width: 16px;
                        height: 17px;
                        position: absolute;
                        right: 0px;
                        background: $c-p;

                    }
                }
            }
        }

        .Pfooter {
            display: flex;
            justify-content: center;
            margin-top: 23px;
            margin-bottom: 20px;

            button {
                width: 160px;
                height: 45px;

                span {
                    font-weight: bold;
                }
            }
        }

        &.PackagesItemS2 {
            color: #fff;
            background: #34495E;
            border: 2px solid #34495E;

            ul {
                li {
                    &::before {
                        background: $c-s;
                    }
                }
            }

            button {
                background: $c-s;
                border: 1px solid $c-s;

                &:hover {
                    color: #fff;
                }
            }

            .Pheader {
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }

            .price,
            .Pcontent h3 {
                color: #fff;
            }

            .note {
                display: block;
            }
        }
    }
}

.DownAppMobile {
    margin-top: 128px;
    margin-bottom: 100px;

    .ant-row {
        align-items: center;
    }

    .content {
        position: relative;

        .secText {
            position: absolute;
            bottom: 180px;
            padding: 0px 57px;
            width: 45%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .image_ {
                margin-top: 10px;
            }
        }

        .secImg {


            .image_ {
                display: flex;
                justify-content: center;
            }
        }

        .secImgForMobile {
            display: none;
        }
    }



}

.menuPageDrawer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1fc0b0;
    margin-bottom: 28px;

    .menuPageHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;


        .menuPageBtnclose {
            svg {
                font-size: 25px;
                color: #000;
            }
        }
    }

    .content {
        ul {
            li {
                margin-top: 20px;
                font-size: 16px;

                a {
                    background: #f6f6f663;
                    width: 100%;
                    display: flex;
                    padding: 10px;
                    border-radius: 7px;
                }

                &.active {
                    display: flex;
                    align-items: center;

                    &::after {
                        background: $c-p;
                        content: "";
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        display: inline-flex;
                        margin: 0px 10px;
                    }


                }
            }
        }

        .langDropdown {
            a {
                display: flex;
                align-items: center;
            }
            span{
                padding: 0px 10px;
            }

            svg {
                color: $c-f-p;
                font-size: 22px;
                display: flex;
                align-items: center;

            }
        }

        .myAccount {
            border-top: 1px solid #f6f6f6;
            padding-top: 15px;
            margin-top: 20px;

            button {
                width: 100%;
                height: 45px;
            }
        }
    }
}



@media (max-width:1111px) {

    .PaymentPackages {
        .sectionsHeader {
            &::before {
                width: 190px;
                height: 155px;
            }
        }
    }
}


@media (max-width:991px) {

    .PaymentPackages {
        .sectionsHeader {
            &::before {
                content: none;
            }
        }
    }


    .DownAppMobile {
        margin-top: 60px;

        .content {
            border: 1px solid #edeef0;
            border-radius: 10px;
            padding: 15px 22px;
        }

        .secImgForMobile {
            display: block !important;

            .image_ {
                display: flex;
                justify-content: center;
            }
        }

        .secImg {
            display: none;
        }

        .content {

            .secText {
                position: relative;
                width: 100%;
                bottom: 0;

                img {
                    width: 90% !important;
                }
            }

        }
    }
}